.row
  .span12
    .well.search-container
      = form_tag search_products_path, method: :get,
            id: "search-form", class: "form-search" do
        - if category
          = hidden_field_tag :category_id, category.id
        .search-row
          = text_field_tag :query, nil,
              placeholder: "Search for...", class: "input"
          %label Tags
          = text_field_tag :tags, nil, class: "input"
          = submit_tag "Search", class: "btn pull-right"
        .search-row
          %label Price between
          = number_field_tag :min_price, nil,
              placeholder: "min", class: "input-mini"
          %label and
          = number_field_tag :max_price, nil,
              placeholder: "max", class: "input-mini"
          = label_tag :order, "Order by"
          = select_tag :order, options_for_select(name: :name,
                description: :description, price: :price),
                include_blank: true, class: "input-small"
          = label_tag :limit, "Items per page"
          = select_tag :limit, options_for_select([25, 50, 75, 100]),
                include_blank: true, class: "input-small"
