- if hierarchy.any?
  %ul.nav.nav-list
    - hierarchy.each do |category, subcategories|
      %li
        %div
          %strong= link_to category.name, category
          %span.pull-right
            - if can? :update, category
              = link_to "Edit", edit_category_path(category),
                  { class: "btn btn-primary", title: "Edit category" }
            
            - if can? :create, Category
              = link_to "Add Subcategory",
                  new_category_path(parent_id: category.id),
                  { class: "btn btn-success", title: "Add Subcategory" }
            
            - if can? :destroy, category
              = link_to "Delete", category,
                  { class: "btn btn-danger", method: :delete,
                    title: "Delete category",
                    confirm: "Are you sure you want to delete this category?" }
        
        %div
          %p= category.description
        
        = render 'hierarchy', hierarchy: subcategories
