.row
  .span12
    .well
      = form_for @category, html: { multipart: true, class: "form-horizontal" } do |form|
        %legend Create category
        = form.hidden_field :parent_id
        = render 'layouts/errors', object: form.object
        = render 'category_fields', form: form
        .form-actions
          = form.submit "Create", class: "btn btn-success"
