.control-group
  .row
    .span2
      = form.label :name
    .span10
      = form.text_field :name, :class => "span10"

.control-group
  .row
    .span2
      = form.label :price
    .span10.input-prepend
      %span.add-on $
      = form.text_field :price, :class => "span2"

.control-group
  .row
    .span2
      = form.label :description
    .span10
      = form.text_area :description, :rows => 5, :class => "span10"

.control-group
  .row
    .span2
      = form.label :tags
    .span10
      = form.text_field :tag_list, :class => "span10"

%script= "count = #{@product.assets.count};"

.control-group
  .row
    .span2
      = form.label :assets
    .span10
      %a.add-image.btn.btn-success{ :href => "#", :title => "Add an image to this product" } Add image...
      %br
      - assets = []
      = form.fields_for :assets, @product.assets do |asset_form|
        - asset = asset_form.object
        - if asset.new_record?
          = asset_form.file_field :image
        - else
          - assets.append(asset)
          = asset_form.hidden_field :_destroy
      
      - if assets.any?
        %ul.thumbnails
          - assets.each_with_index do |asset, i|
            %li.span2
              .thumbnail
                = link_to image_tag(asset.image.url(:thumbnail)), asset.image.url, { :title => asset.image_file_name }
                %hr.divider
                %a.remove-image.btn-small.btn-danger{ :href => "#", :title => "Remove image", :id => "asset_#{i}_image" } Remove
