%html{ :lang => "en" }
  %head
    %title= title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    #content
      .container
        = render 'layouts/flash', :flash => flash

        .row
          = yield

        -#- if Rails.env.development?
          -#= debug params
          -#= debug flash

    #push
    = render 'layouts/footer'
